* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

header {
    background-color: rgb(49, 48, 48);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px;
}

header h2 {
    font-size: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.about {
    background-color: rgb(213, 218, 218);

    display: flex;
    align-items: center;

    padding: 30px;
}

.about img {
    width: 100px;
    height: 200px;

    border-radius: 50%;
    object-fit: cover;

    margin-right: 20px;
}

.about p {
    font-size: 18px;
}

.projects {
    padding: 20px;
}

.projects h3 {
    margin-bottom: 15px;
}

.project-list {
    display: flex;
    gap: 10px;
}

.project {
    flex: 1;

    background-color: rgb(52, 51, 51);
    color: white;

    text-align: center;
    padding: 15px;

    border-radius: 5px;
}

footer {
    background-color: rgb(233, 233, 225);

    text-align: center;
    padding: 15px;

    font-size: 14px;
}